doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # 1. Tell Doctrine to IGNORE Supabase system tables (auth, storage, etc.)
        # This regex ensures Doctrine only looks at your "public" tables.
        schema_filter: ~^(?!auth\.|cron\.|graphql\.|history\.|pgbouncer\.|pgsodium\.|pgtap\.|realtime\.|storage\.|vault\.|extensions\.)~
        
        # 2. Map all Supabase internal types to 'string' so it doesn't crash
        mapping_types:
            # Arrays
            _text: text
            
            # Auth & System Enums (The one crashing you now is code_challenge_method)
            code_challenge_method: string
            factor_status: string
            factor_type: string
            aal_level: string
            key_status: string
            key_type: string
            action: string
            equality_op: string
            one_time_token_type: string

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
